<!DOCTYPE html>
<style> 

html { 
  background: url(http://static1.squarespace.com/static/544e5ab1e4b05d5a7ff09854/t/54510d52e4b04ee588b3f0a9/1414597973474/Wallpaper-upper-east-side-twilight-new-york-city-nyc-usa2.jpg?format=2500w) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="BootstrapBay.com">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class= "navbar navbar-default navbar-fixed-top" role ="navigation" style="background-color: blue;">
    <div class="container">
      <div class="navbar header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="Login"></span>
            <span class="Login"></span>
            <span class="Login"></span>
        </button>
       <a><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">Login</button></a>
  </div> 
  <div class= "navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-center">
<%= form_tag login_path, method: :post do %>

<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag( url: login_path) do %>

      <%= label_tag :email %>
      <%= email_field_tag :email %>
      <br>

      <%= label_tag :password %>
      <%= password_field_tag :password  %>

      <%= submit_tag "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>



<% end %>

