<!DOCTYPE html>
<style> 


</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="BootstrapBay.com">
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <head>
<nav class="navbar navbar-default navbar-static-top">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#">Pete Camp </a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
      <li class="warning"><%= link_to 'New Job Posting', new_posting_path(@posting) %></li>
      <li class="warning"><%= link_to 'Back to All Jobs', postings_path(@posting) %></li>
      <li class="active"><%= link_to 'Back to All Users', users_path(@user) %></li>
           <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Education and Job Search</li>
            <li><a href="#">Link to Star City Code School</a></li>
            <li><a href="#">Job Search Links</a></li>
            <li class="dropdown-header">Portfolio</li>
            <li><a href="#">Soccer Management System</a></li>
            <li><a href="http://camp91783.github.io/w07-d03-tic-tac-toe/">Tic Tac Toe</a></li>
            <li class="dropdown-header">Resources & Media</li>
            <li><a href="http://careerlink.com/lp/brilliant-people-omaha-sumeet-jain-talks-founding-omaha-code-school-advice-new-developers/?utm_source=constantcontact&utm_medium=email&utm_term=brilliantppl&utm_campaign=jobseeker">Interview with School Founder Summeet Jain</a></li>
            <li><a href="http://siliconprairienews.com/2016/01/omaha-code-school-opens-star-city-code-school-in-lincoln/">Interview with Instructor Andrew Ek</a></li>
             </ul>
           </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li class="active"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
  <head>
  <div class="row">
    <div class="img">
      <div class="col-md-12">
      <img src="http://www.tourist-destinations.net/wp-content/uploads/2013/07/waikiki.jpg" class="img-responsive"></img>
    </div>
  </div>
</div>
     <title></title>
  </head>
<p id="notice"><%= notice %></p>
<div class="container">
    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong>Lastname:</strong>
      <%= @user.lastname %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
</div>
<br>
<br>
<br>

<p><a href="/postings">All Saved Jobs</a></p>
<p><a href="/users">All Saved Users</a></p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<p><a href="/">Back Home</a></p>

